<script type="text/template" id="tpl-website-setting">
<div class="modal-container">
    <h2>Website Setting</h2>
    <div class="content">
    <input type="hidden" value="" name="notify" />
    <form action="" method="post" data-toggle="validator">
        <div class="form-hoder">
            <div class="entry form-group">
                <label for="website-name">Website Name:</label>
                <input type="text" name="website_name" id="website-name" placeholder="Can not be empty." required pattern=".*[^ ].*" data-error="Website name is invalid." value="<%= web_info.name %>" />
                <div class="help-block with-errors"></div>
            </div>
        </div>
        <div class="btn-set">
            <a href="#" class="btn btn-website-setting btn-primary">Save</a>
        </div>
    </form>
    </div>
</div>
</script>