<script type="text/template" id="tpl-site-language">
<div class="modal-container">
        <h2>Site Language Setting</h2>
        <div class="content">
            <input type="hidden" value="<%= notify %>" name="notify" />
            <div class="language-checked" >
                <label>Checked Language</label>
                <select multiple class="form-control">
                    <% _.each(lang_checked,function(lang){ %>
                        <option value="<%= lang.id %>"><%= lang.simple_name %> / <%= lang.full_name %></option>
                    <% }) %>
                </select>
            </div>

            <div style="margin: 0 auto;width: 10%;margin-top:20px;">
              <a href="#" class="btn btn-checked" ><i class="glyphicon glyphicon-arrow-up"></i></a>
              <a href="#" class="btn btn-unchecked" ><i class="glyphicon glyphicon-arrow-down"></i></a>
            </div>

            <div class="language-unchecked">
                <label>Unchecked Language</label>
                <select multiple class="form-control" name="unchecked">
                    <% _.each(lang_needchecked,function(lang){ %>
                        <option style="color:red;" value="<%= lang.id %>"><%= lang.simple_name %> / <%= lang.full_name %></option>
                    <% }) %>
                    <% _.each(lang_unchecked,function(lang){ %>
                        <option value="<%= lang.id %>"><%= lang.simple_name %> / <%= lang.full_name %></option>
                    <% }) %>
                </select>
            </div>
        </div>
</div>
</script>