<html lang="en">
<head>
    <title>Mage Login</title>
    <meta name="loginport" content="width=device-width, initial-scale=1">

    <load href="__PUBLIC__/css/reset.css" />
    <load href="__PUBLIC__/css/lib/bootstrap.css" />
    <load href="__PUBLIC__/css/lib/bootstrap-theme.css" />
    <load href="__PUBLIC__/css/lib/jquery.fancybox.css" />
    <load href="__PUBLIC__/css/main.css" />

    <load href="__PUBLIC__/js/lib/jquery.js" />
    <script type="text/javascript">
        (function($) {
            $(function(){
                UrlApi = function (urlname) {
                    // body...
                    if(urlname == '_app'){
                        return "__APP__";
                    }
                }
            });
        })(jQuery);
    </script>
    <load href="__PUBLIC__/js/main.js" />
</head>
<body>
    <div class="body-wrapper page-width">
        <div class="login-container">
            <form action="" method="post">
                <div class="form-holder">
                    <h2>Log in to Admin Panel</h2>
                    <div class="tip tip-main"></div>
                    <div class="entry form-group">
                        <label for="username">User Name:</label>
                        <input type="text" name="username" id="username" />
                    </div>
                    <div class="tip tip-username"></div>
                    <div class="entry form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" />
                    </div>
                    <div class="tip tip-password"></div>
                    <a href="#" class="btn btn-login btn-default">Login</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>