<html lang="en">
<head>
    <title>Mage Login</title>
    <meta name="loginport" content="width=device-width, initial-scale=1">

    <load href="__PUBLIC__/css/reset.css" />
    <load href="__PUBLIC__/css/lib/bootstrap.css" />
    <load href="__PUBLIC__/css/lib/bootstrap-theme.css" />
    <load href="__PUBLIC__/css/lib/jquery.fancybox.css" />
    <load href="__PUBLIC__/css/main.css" />

    <load href="__PUBLIC__/js/lib/jquery.js" />
    <load href="__PUBLIC__/js/lib/jquery.fancybox.js" />
    <load href="__PUBLIC__/js/lib/notify.js" />
    <load href="__PUBLIC__/js/lib/notify-bootstrap.js" />
    <script type="text/javascript">
        (function($) {
            $(function(){
                UrlApi = function (urlname) {
                    // body...
                    if(urlname == '_app'){
                        return "__APP__";
                    }
                }
            });
        })(jQuery);
    </script>
    <load href="__PUBLIC__/js/underscore.js" />
    <load href="__PUBLIC__/js/backbone.js" />
    <load href="__PUBLIC__/js/backbone.localStorage.js" />
    <load href="__PUBLIC__/js/lib/validator.js" />
    <load href="__PUBLIC__/js/utility.js" />
    <load href="__PUBLIC__/js/user.js" />
</head>
<body>
    <div class="body-wrapper page-width">
        <div class="block block-user-login"></div>
        <div class="block block-user-register"></div>
    </div>
    <script type="text/template" id="tpl-user-login">
        <div class="login-container modal-container">
            <h2>Sign In</h2>
            <div class="content">
            <form action="" method="post" role="form" data-toggle="validator">
                <div class="form-holder">
                    <div class="entry form-group">
                        <input type="email" name="username" placeholder="Email: joe@example.com" required data-error="Email address is invalid">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry form-group">
                        <input type="password" name="password" placeholder="Password" required data-error="Password is invalid">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry verify">
                        <input style="width:45%;" type="text" name="verify" placeholder="Verify Code" />
                        <a href="#"><img style="width: 45%;height:44px;float:right;" src="__APP__/Index/verify" / onClick="this.src=this.src+'?'+Math.random()" /></a>
                    </div>
                </div>
                <a href="#" class="link link-register">Create an account</a>
                <a href="#" class="fr btn btn-login btn-primary">Sign In</a>
            </form>
            </div>
        </div>
    </script>
    <script type="text/template" id="tpl-user-register">
        <div class="register-container modal-container">
            <h2>Sign Up</h2>
            <div class="content">
            <form action="" method="post" data-toggle="validator" role="form">
                <div class="form-hoder">
                    <div class="entry form-group">
                        <input type="email" name="username" required pattern="[\w!#$%&'*+/=?^_`{|}~-]+(?:\.[\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\w](?:[\w-]*[\w])?\.)+[\w](?:[\w-]*[\w])?"placeholder="Email: joe@example.com" data-error="Email address is invalid.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry form-group">
                        <input type="password" id="reg-password" name="password" placeholder="Password: 6-30 characters" pattern="^.{6,30}$" required data-error="Password is invalid.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry form-group">
                        <input type="password" name="password-rpt" placeholder="Confirm Password" required data-match="#reg-password" data-match-error="Password not match" data-error="Confirm password is invalid.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry form-group">
                        <input type="text" name="website_name" placeholder="Website Name: must be alphanumeric" required data-error="Website name is invalid.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry verify">
                        <input style="width:45%;" type="text" name="verify" placeholder="Verify Code" />
                        <a href="#"><img style="width: 45%;height:44px;float:right;" src="__APP__/Index/verify" / onClick="this.src=this.src+'?'+Math.random()" /></a>
                    </div>
                </div>
                <a href="#" class="link link-back">Already have an account</a>
                
                <a href="#" class="fr btn btn-register btn-primary">Sign Up</a>
            </form>
            </div>
        </div>
    </script>
</body>
</html>