<form action="" method="post">
    <div class="form-holder">
        <div class="entry">
            <label for="role">Role Name</label>
            <input type="text" id="role" name="role" />
        </div>
        <div class="entry radio">
            <h3>Allow Create</h3>
            <input type="radio" name="create" value="1" id="yes-c"/>
            <label for="yes-c">Yse</label>
            <input type="radio" name="create" value="0" id="no-c"/>
            <label for="no-c">No</label>
        </div>
        <div class="entry radio">
            <h3>Allow Retrieve</h3>
            <input type="radio" name="retrieve" value="1" id="yes-r"/>
            <label for="yes-r">Yse</label>
            <input type="radio" name="retrieve" value="0" id="no-r"/>
            <label for="no-r">No</label>
        </div>
        <div class="entry radio">
            <h3>Allow Update</h3>
            <input type="radio" name="update" value="1" id="yes-u"/>
            <label for="yes-u">Yse</label>
            <input type="radio" name="update" value="0" id="no-u"/>
            <label for="no-u">No</label>
        </div>
        <div class="entry radio">
            <h3>Allow Delete</h3>
            <input type="radio" name="delete" value="1" id="yes-d"/>
            <label for="yes-d">Yse</label>
            <input type="radio" name="delete" value="0" id="no-d"/>
            <label for="no-d">No</label>
        </div>
    </div>
    <input type="submit" value="submit" />
</form>