img { width: 100%; }
.page-width { width: 960px; margin: 0 auto; }

input[type="text"] { width: 100%; padding: 10px; }
input[type="password"] { width: 100%; padding: 10px; }
main { margin-top: 60px; }
main .search-box { width: 100%; margin-bottom: 10px; }

table { width: 100%; }
table td, table th { padding: 5px; }

.block { }

.tbl-translation-list { }

.btn-set { margin-top: 10px; }

.col5 { width: 49%; }
.fl { float: left; }
.fr { float: right; }

.images_list ul li { position: relative; width: 22%; border: 1px solid #ddd; padding: 5px; float: left; margin-right: 4%; margin-bottom: 10px;margin-top: 10px;}
.images_list ul li:nth-child(4) { margin-right: 0; }
.images_list ul li .btn-image-delete { position: absolute; top: 5px; right: 5px; background: #000; opacity: 0.5; transition: .3s all ease-in-out; }
.images_list ul li .btn-image-delete:hover { opacity: 1; }

.file{margin-top: 15px;background-color: #E7E7E7;}

.login-container{width: 50%;margin: 0 auto;margin-top: 200px;}
.register-container{width: 50%;margin: 0 auto;margin-top: 200px;}

.tip{color:red;}

.batch-import{background-color: #E7E7E7;}

#enlarge_images{display:none;}

select{text-transform: uppercase;}
#export{background-color: #E7E7E7;}

.block-translation-export{background-color: #E7E7E7;}

.btn-right{float: right;}

