<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Happy Translating! - <php>echo session('website_name');</php></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <load href="__PUBLIC__/css/reset.css" />
    <load href="__PUBLIC__/css/lib/bootstrap.css" />
    <load href="__PUBLIC__/css/lib/bootstrap-theme.css" />
    <load href="__PUBLIC__/css/lib/bootstrap-switch.css" />
    <load href="__PUBLIC__/css/lib/jquery.fancybox.css" />
    <load href="__PUBLIC__/css/main.css" />

    <load href="__PUBLIC__/js/lib/jquery.js" />
    <load href="__PUBLIC__/js/lib/jquery.fancybox.js" />
    <load href="__PUBLIC__/js/lib/notify.js" />
    <load href="__PUBLIC__/js/lib/notify-bootstrap.js" />
    <load href="__PUBLIC__/js/lib/bootstrap-switch.js" />
    <script type="text/javascript">
        (function($) {
            $(function(){
                UrlApi = function (urlname) {
                    if(urlname == '_app'){
                        return "__APP__";
                    }
                    if(urlname == '_uploads'){
                        return "__UPLOADS__";
                    }
                }

                PurviewVal = function (){
                    return <php>echo session('purview');</php>
                }
                var purview = PurviewVal();
                Purview = function(operation){
                    if(purview[operation] == '0'){
                        return '0';
                    }
                    if(purview[operation] == '1'){
                        return '1';
                    }
                }
            });
        })(jQuery);
    </script>
    <load href="__PUBLIC__/js/lib/bootstrap.js" />
    <load href="__PUBLIC__/js/underscore.js" />
    <load href="__PUBLIC__/js/backbone.js" />
    <load href="__PUBLIC__/js/backbone.localStorage.js" />
    <load href="__PUBLIC__/js/lib/validator.js" />
    <load href="__PUBLIC__/js/utility.js" />
    <load href="__PUBLIC__/js/ajaxfileupload.js" />
    <load href="__PUBLIC__/js/main.js" />

    <block name="css"></block>

    <block name="script"></block>
</head>
<body>
    <div class="body-wrapper page-width">
        <block name="header">
            <!-- documentation: http://getbootstrap.com/components/#navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid page-width">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse">
                        <div style="float:left;" class="main-nav">
                            <ul class="nav navbar-nav">
                                <li><a href="__APP__/Translation">Csv</a></li>
                                <li><a href="__APP__/MagentoCms">Cms</a></li>
                                <li><a href="__APP__/User">User</a></li>
                            </ul>
                        </div>
                        <div class="user" style="float:right;">
                            <ul class="nav navbar-nav">
                                <li><a href="#" class="btn-user-center"><php>echo session('username');</php></a></li>
                                <li><a href="__APP__/logout" class="logout">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </block>
        <block name="sidebar"></block>
        <block name="content"></block>
        <block name="template"></block>
        <div class="page-width block-footer">
            <block name="footer"><!-- <php>echo rand(100000,999999);</php> --></block>
        </div>
    </div>

    <div class="message" style="display: none;">
        <div class="modal-container">
            <h2>Message</h2>
            <div class="content">
                You do not have permission to perform this operation.
            </div>
        </div>
    </div>
</body>
</html>