<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Mage Translation <php>echo session('website_name');</php></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
    <load href="__PUBLIC__/css/reset.css" />
    <load href="__PUBLIC__/css/lib/bootstrap.css" />
    <load href="__PUBLIC__/css/lib/bootstrap-theme.css" />
    <load href="__PUBLIC__/css/lib/jquery.fancybox.css" />
    <load href="__PUBLIC__/css/main.css" />
    <load href="__PUBLIC__/js/lib/jquery.js" />
    <script type="text/javascript">
        (function($) {
            $(function(){
                UrlApi = function (urlname) {
                    // body...
                    if(urlname == '_app'){
                        return "__APP__";
                    }
                }

                PurviewVal = function (){
                    return <php>echo session('purview');</php>
                }
            });
        })(jQuery);
    </script>
    <load href="__PUBLIC__/js/lib/bootstrap.js" />
    <load href="__PUBLIC__/js/lib/jquery.fancybox.js" />
    <load href="__PUBLIC__/js/underscore.js" />
    <load href="__PUBLIC__/js/backbone.js" />
    <load href="__PUBLIC__/js/backbone.localStorage.js" />
    <load href="__PUBLIC__/js/utility.js" />
    <load href="__PUBLIC__/js/ajaxfileupload.js" />
    <load href="__PUBLIC__/js/main.js" />

    <block name="css"></block>

    <block name="script"></block>
</head>
<body>
    <block name="header">
            <!-- documentation: http://getbootstrap.com/components/#navbar -->
            <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container-fluid page-width">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed">
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" style="float:left;">
                    </div>
                    <div class="user" style="float:right;">
                        <ul class="nav navbar-nav">
                            <li><a href="#"><php>echo session('username');</php></a></li>
                            <li><a href="__APP__/Admin/logout" class="logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
    </block>
    <block name="main"></block>
    <block name="template"></block>
    <block name="footer"></block>
</body>
</html>