<script type="text/template" id="tpl-cms-block-list">
    <div class="record-view">
        <a href="#" class="btn btn-block-translate btn-primary"><i class="glyphicon glyphicon-log-in"></i></a>
        <a href="#" class="btn btn-block-magento btn-primary"><i class="glyphicon glyphicon-log-out"></i></a>
        <span class="record">
        <% if(blocks_count){ %> <%= blocks_count %> <% }else{ %> 0 
        <%}%>/
        <% if(blocks_total){ %> <%= blocks_total %> <% }else{ %> 0 
        <%}%>Records
        </span>
    </div>
    <div class="line"></div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Identifier</th>
                <th>Sync</th>
            </tr>
        </thead>
        <tbody>
        <% if(block_list){ %>
            <% _.each(block_list, function(block, key){ %>
                <tr data-identifier = "<%= key %>">
                    <td><%= block%></td>
                    <td><%= key%></td>
                    <td><a href="#">Sync</a></td>
                </tr>
            <% }) %>
        <% }else{ %>
            <tr><td colspan="3" align="center">No Records !</td></tr>
        <% } %>
        </tbody>
    </table>
</script>