<script type="text/template" id="tpl-cms-page-search">
    <h2>Page List</h2>
    <a href="#" class="search-icon search-enter"><i class="glyphicon glyphicon-search"></i></a>
    <a href="#" class="search-icon search-clear" style="display:none;"><i class="glyphicon glyphicon-remove"></i></a>
    <!-- <form action="" data-get=""> -->
    <div class="form-holder">
        <div class="entry">
            <input type="text" name="search" class="page-search" placeholder="Search Identifier ..." />
        </div>
    </div>
    <!-- </form> -->
</script>