<script type="text/template" id="tpl-store-cms-block">
    <div class="modal-container">
        <h2>Store Block</h2>
        <div class="content">
            <form method="post" data-toggle="validator">
                <input type="hidden" value="<%= store_block.id %>" name="cms_id" />
                <div class="form-holder">
                    <div class="entry form-group">
                        <label>Title:</label>
                        <input type="text" name="title" value="<%= store_block.title %>" placeholder="Can not be empty." required pattern=".*[^ ].*" data-error="Title is invalid.">
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="entry form-group">
                        <label>Content:</label>
                        <textarea name="content" placeholder="Can not be empty." required pattern=".*[^ ].*" data-error="Content name is invalid."><%= store_block.content %></textarea>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <a href="#" class="btn btn-save-block btn-primary">Save</a>
            </form>
        </div>
    </div>
</script>