<script type="text/template" id="tpl-magento-store">
    <table class="table">
        <thead>
            <tr>
                <th>Website Name</th>
                <th>Store Name</th>
                <th>Store View Name</th>
            </tr>
        </thead>
        <tbody>
            <% _.each(store_list,function (so){ %>
                <tr>
                    <td><%= so.website_name %></td>
                    <% _.each(so.stores,function (st){ %>
                        <td><%= st.store_name %></td>
                        <% _.each(so.stores,function (sth){ %>
                        <%})%>
                    <%})%>
                </tr>
            <%})%>
        </tbody>
    </table>
</script>