<script type="text/template" id="tpl-cms-block-list">
    <div class="record-view" style="height:30px;">
        <span class="record">
        <% if(blocks_count){ %> <%= blocks_count %> <% }else{ %> 0 
        <%}%>/
        <% if(blocks_total){ %> <%= blocks_total %> <% }else{ %> 0 
        <%}%>Records
        </span>
    </div>
    <div class="line"></div>
    <table class="tbl-cms-list">
        <thead>
            <tr>
                <th class="col-checkbox"><input type="checkbox" name="checked-all" /></th>
                <th class="col-content">Title</th>
                <th class="col-content">Identifier</th>
                <th class="col-content">Store View</th>
                <th class="col-operation">Operation</th>
            </tr>
        </thead>
    </table>
    <div class="data-list">
        <table class="table table-hover tbl-cms-list " operation = "batch">
            <thead>
                <tr>
                    <th class="col-checkbox"></th>
                    <th class="col-content"></th>
                    <th class="col-content"></th>
                    <th class="col-content"></th>
                    <th class="col-operation"></th>
                </tr>
            </thead>
            <tbody>
            <% if(block_list){ %>
                <% _.each(block_list, function(block){ %>
                    <tr data-id = "<%= block.id %>" title="block/<%= block.id %>">
                        <th><input type="checkbox" name="block_id[]" value="<%= block.id %>"></th>
                        <td><%= block.title%></td>
                        <td><%= block.identifier%></td>
                        <td><%= block.store_view %></td>
                        <td><a href="#" class="btn btn-primary btn-edit-block"><i class="glyphicon glyphicon-edit"></i></a></td>
                    </tr>
                <% }) %>
            <% }else{ %>
                <tr><td colspan="5" align="center">No Records !</td></tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="line"></div>
    <div class="operation-view">
        <a href="#" class="btn btn-block-translate btn-primary" title="Sync To Translation"><i class="glyphicon glyphicon-cloud-download"></i></a>
        <a href="#" class="btn btn-block-magento btn-primary" title="Sync To Magento"><i class="glyphicon glyphicon-cloud-upload"></i></a>
        <select name="operation" class="batch-app">
            <option value='0'>Batch operation</option>
            <!--<option value='translate'>Sync To Translation</option>-->
            <option value='magento'>Sync To Magento</option>
        </select>
    </div>
</script>