<script type="text/template" id="tpl-cms-page-list">
    <input type="hidden" value="<%= notify %>" name="notify" />
    <div class="record-view" style="height:30px;">
        <span class="record">
        <% if(pages_count){ %> <%= pages_count %> <% }else{ %> 0 
        <%}%>/
        <% if(pages_total){ %> <%= pages_total %> <% }else{ %> 0 
        <%}%>Records
        </span>
    </div>
    <div class="line"></div>
    <table class="tbl-cms-list">
        <thead>
            <tr>
                <th class="col-checkbox"><input type="checkbox" name="checked-all" /></th>
                <th class="col-content">Title</th>
                <th class="col-content">Identifier</th>
                <th class="col-content">Store View</th>
                <th class="col-operation">Operation</th>
            </tr>
        </thead>
    </table>
    <div class="data-list">
        <table class="table table-hover tbl-cms-list" operation = "batch">
            <thead>
                <tr>
                    <th class="col-checkbox"></th>
                    <th class="col-content"></th>
                    <th class="col-content"></th>
                    <th class="col-content"></th>
                    <th class="col-operation"></th>
                </tr>
            </thead>
            <tbody>
            <% if(page_list){ %>
                <% _.each(page_list, function(page){ %>
                    <tr data-id = "<%= page.id %>" title="page/<%= page.id %>">
                        <td><input type="checkbox" name="page_id[]" value="<%= page.id %>" /></td>
                        <td class="col-title"><%= page.title%></td>
                        <td class="col-identifier"><%= page.identifier%></td>
                        <td class="col-store_view"><%= page.store_view %></td>
                        <td><a href="#edit-page/<%= page.id %>" class="btn btn-primary btn-edit-page"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="#" class="btn btn-primary btn-export-txt"><i class="glyphicon glyphicon-download-alt"></i></a>
                        </td>
                    </tr>
                <% }) %>
            <% }else{ %>
                <tr operation = "no-records"><td colspan="5" align="center">No Records !</td></tr>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="line"></div>
    <div class="operation-view">
        <a href="#" class="btn btn-page-translate btn-primary" title="Sync To Translation"><i class="glyphicon glyphicon-cloud-download"></i></a>
        <a href="#" class="btn btn-page-magento btn-primary" title="Sync To Magento"><i class="glyphicon glyphicon-cloud-upload"></i></a>
        <select name="operation" class="batch-app">
            <option value='0'>Batch Operation</option>
            <option value='download'>Download Selected</option>
            <option value='magento'>Sync To Magento</option>
        </select>
    </div>
</script>