<script type="text/template" id="tpl-rest-sync">
    <div class="modal-container">
        <h2>Rest Sync</h2>
        <div class="content">
            <form action="" method="post" data-toggle="validator">
                <div class="form-hoder">
                    <div class="entry form-group">
                        <label for="domain">Domain:</label>
                        <input type="text" name="domain" id="domain" placeholder="Enter the fully qualified domain name." required pattern="[a-zA-z]+://[^\s]*" data-error="Domian is invalid." value="<%= website.domain %>" />
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="entry form-group">
                        <label for="rest-name">Rest Name:</label>
                        <input type="text" name="rest_user" id="rest-name" value="<%= website.rest_user %>" placeholder="Can not be empty." required pattern=".*[^ ].*" data-error="Rest name is invalid." />
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="entry form-group">
                        <label for="rest-password">Rest Password:</label>
                        <input type="text" name="rest_password" id="rest-password" placeholder="Leave blank if not modified" />
                        <div class="help-block with-errors"></div>
                    </div>

                </div>
                <a href="#" class="btn btn-rest-sync btn-primary">Save</a>
            </form>
        </div>
    </div>
</script>