<script type="text/template" id="tpl-personal-setting">
    <!--<div class="entry form-group">
        <label for="website-name">Website Name:</label>
        <input type="text" name="website-name" id="website-name" placeholder="Can not be empty." required pattern=".*[^ ].*" data-error="Website name is invalid." value="<php>echo session('website_name');</php>" />
        <div class="help-block with-errors"></div>
    </div>-->
    <div class="modal-container">
        <h2>Personal Setting</h2>
        <div class="content">
            <form action="" method="post" data-toggle="validator">
                <div class="form-hoder">
                    <input type="hidden" name="id" value="<php>echo session('id');</php>" />
                    <!--<div class="entry form-group">
                        <label for="original-password">Original Password:</label>
                        <input type="password" name="original-password" id="original-password" placeholder="Please enter 6-30 characters" required
                        pattern="^.{6,30}$" data-error="Password is invalid." />
                        <div class="help-block with-errors"></div>
                    </div>-->

                    <div class="entry form-group">
                        <label for="reg-password">New Password:</label>
                        <input type="password" id="reg-password" name="new-password" placeholder="Leave blank if not modified" data-error="Password is invalid." />
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="entry form-group">
                        <label for="confirm-new-password">Confirm New Password:</label>
                        <input type="password" name="confirm-new-password" id="confirm-new-password" placeholder="Please enter 6-30 characters" data-match="#reg-password" data-match-error="Password not match" data-error="Password is invalid." />
                        <div class="help-block with-errors"></div>
                    </div>

                </div>
                <div class="btn-set">
                    <a href="#" class="btn btn-personal-setting btn-primary">Save</a>
                </div>
            </form>
        </div>
    </div>
</script>