<script type="text/template" id="tpl-user-list">
    <div class="jump">
        <a href="#useradd" class="btn btn-primary btn-list-user-add">User Add</a>
        <a href="#" class="btn btn-primary btn-right btn-role-list">Role List</a>
    </div>
    <table class="table table-hover">
        <tr>
            <!--<th>Id</th>-->
            <th>UserName</th>
            <th>Is Allow</th>
            <th>Operation</th>
        </tr>
        <% _.each(userList, function(user){%>
            <tr data-id="<%= user.id %>">
                <!--<td><%= user.id %></td>-->
                <td><%= user.username %></td>
                <td>
                <a href="#" class="btn btn-allow <% if(user.allow == '1'){ %> btn-success <% }else{ %> btn-default <% } %>" data-allow="1">Yes</a>
                <a href="#" class="btn btn-allow <% if(user.allow == '0'){ %> btn-success <% }else{ %> btn-default <% } %>" data-allow="0">No</a>
                </td>
                <td>
                <a href="#useredit/<%= user.id %>" class="btn btn-user-detail btn-info"><i class="glyphicon glyphicon-edit"></i></a>
                </td>
            </tr>
        <% }) %>
    </table>
</script>