<script type="text/template" id="tpl-lang-list">
    <div class="record-view" style="height:30px;">
        <div class="record">
          <a href="#" class="translate-modify <% if(click_show === 1){ %> word-black <% } %>"><span>(<%= need_modify %> Modify)</span></a>&nbsp / &nbsp
          <a href="#" class="translate-complete <% if(click_show === 0){ %> word-black <% } %>"><span>(<%= no_modify %> Complete)</span></a>
          &nbsp / &nbsp
          <a href="#" class="translate-total <% if(click_show === -1){ %> word-black <% } %>"><span>(<%= total %> Total Records)</span></a>
        </div>
    </div>
    <div class="line"></div>
    <table class="list-head tbl-translation-list">
        <thead>
            <tr>
                <th class="col-language">EN_US</th>
                <th class="col-language">
                    <select name="language" class="lang-list">
                        <% _.each(langs, function(lang,key){ %>
                            <option value = "<%= lang.lang_id %>" 
                            <% if(lang_id === lang.lang_id){ %> selected <% } %>
                            ><%= lang.simple_name %></option>
                        <% }) %>
                    </select>
                </th>
                <th class="col-operation">OPERATION</th>
            </tr>
        </thead>
    </table>
    <div class="data-list">
    <table cellpadding = "0" 
           cellspacing = "0" 
           operation = "batch"
           class="tbl-translation-list table table-hover" 
    >
      <thead>
        <tr>
          <th class="col-language"> </th>
          <th class="col-language"> </th>
          <th class="col-operation"> </th>
        </tr>
      </thead>
      <tbody>
      <% if(list){ %>
          <% _.each(list, function(translate){ %>
              <tr data-base_id="<%= translate.id %>">
                  <td><%= translate.content %></td>
                  <% _.each(translate.other, function(other){ %>
                      <td><%= other.content %></td>
                  <% }) %>
                  <td>
                      <a href="#edit/<%= translate.id %>" class="btn btn-edit btn-primary" title="Edit">
                          <i class="glyphicon glyphicon-edit"></i>
                      </a>
                      <a href="#delete/<%= translate.id %>" class="btn btn-delete btn-danger" title="Delete">
                          <i class="glyphicon glyphicon-remove"></i>
                      </a>
                  </td>
              </tr>
          <% }) %>
      <% }else{ %>
        <tr><td colspan="4" align="center">No Records !</td></tr>
      <% } %>
      </tbody>
    </table>
    </div>
    <div class="line"></div>
    <div class="operation-view">
        <select name="operation" class="batch-app">
          <option value='0'>Batch operation</option>
          <option value='update'>
            Update Modify Status
          </option>
          <option value='delete'>Delete</option>
        </select>
        <!--<a class="btn btn-primary btn-app" title="Application"><i class="glyphicon glyphicon-saved"></i></a>-->
        <a href="#export" class="btn btn-list-export btn-primary" title="Export">
            <i class="glyphicon glyphicon-download-alt"></i>
        </a>
        <a href="#add" class="btn btn-list-add btn-primary" title="Add New Entry">
            <i class="glyphicon glyphicon-plus"></i>
        </a>
    </div>
</script>