<extend name="Public/base" />
<block name="css"></block>
    <block name="main-translate">
        <main>
            <div class="container-fluid page-width">

                <h1>Happy Translating! - <php>echo session('website_name');</php></h1>

                <div class="search-box search-box-lang"></div>

                <div class="block block-translation-export" style="width:960px;"></div>

                <div class="block block-translation-list"></div>

                <div class="block block-translation-detail" style="width:960px;"></div>

                <div class="block block-translation-add" style="width:960px;"></div>
        </main>
    </block>

    <block name="main-user">
        <main>
            <div class="container-fluid page-width">

                <h1>Mage User</h1>

                <div class="search-box search-box-user">
                </div>

                <div class="user-center">
                </div>

                <div class="block-user">
                    <div class="block block-user-list">
                    </div>

                    <div class="block block-user-add">
                    </div>

                    <div class="block block-user-info">
                    </div>
                </div>

                <div class="block-role">
                    <div class="block block-role-list">
                    </div>

                    <div class="block block-role-add">
                    </div>

                    <div class="block block-role-info">
                    </div>

                </div>

            </div>
        </main>
    </block>

    <block name="template-translate">

        <include file="Template/tpl-lang-add" />

        <include file="Template/tpl-lang-edit" />

        <include file="Template/tpl-lang-export" />

        <include file="Template/tpl-lang-list" />

        <include file="Template/tpl-lang-search" />

    </block>

    <block name="template-user">

        <include file="Template/tpl-user-center" />

        <include file="Template/tpl-user-search" />

        <include file="Template/tpl-user-add" />

        <include file="Template/tpl-user-info" />

        <include file="Template/tpl-user-list" />

        <include file="Template/tpl-role-search" />

        <include file="Template/tpl-role-list" />

        <include file="Template/tpl-role-info" />

        <include file="Template/tpl-role-add" />

    </block>

</body>
</html>