<extend name="Public/base" />
<block name="script">
    <load href="__PUBLIC__/js/base.js" />
    <script>
        (function($) {
            $(function(){
                $('.main-nav ul li:eq(0)').addClass('menu-selection');
            });
        })(jQuery);
    </script>
</block>
    <block name="content">
        <main>
            <div class="container-fluid page-width">

                <h1>Manage Csv Translation</h1>

                <div class="search-box search-box-lang"></div>

                <div class="block block-translation-export" style="width:960px;"></div>

                <div class="block block-translation-list"></div>

                <div class="block block-translation-detail" style="width:960px;"></div>

                <div class="block block-translation-add" style="width:960px;"></div>
            </div>
        </main>
    </block>

    <block name="template">

        <include file="Template/tpl-lang-add" />

        <include file="Template/tpl-lang-edit" />

        <include file="Template/tpl-lang-export" />

        <include file="Template/tpl-lang-list" />

        <include file="Template/tpl-lang-search" />

    </block>

</body>
</html>