<form action="" method="post" enctype="multipart/form-data">
	<div class="form-holder">
		<div class="entry">
			<label for="en">EN:</label>
			<input type="text" name="en" id="en" /><br/><br/>
		</div>
		<div class="entry">
			<label for="de">DE:</label>
			<input type="text" name="de" id="de" /><br/><br/>
		</div>

	</div>
	
	<label for="nl">NL:</label>
	<input type="text" name="nl" id="nl" /><br/><br/>
	<label for="fm">FN:</label>
	<input type="text" name="fn" id="fn" /><br/><br/>
	<input type="file" name="images" id="images" onchange="ajaxFileUpload();" /><br><br>
	<div id="result"></div><br><br>
	<div class="btn-set">
		<a href="#" class="btn btn-add up">Add</a>
	</div>
<!-- 	<a href="#" style="background-color: green;padding: 5px;">ADD</a> -->
</form>