<form action="" method="post" enctype="multipart/form-data">
	<div class="form-holder">
		<div class="entry">
			<label for="en">EN:</label>
			<input type="text" name="en" id="en" />
		</div>
		<div class="entry">
			<label for="de">DE:</label>
			<input type="text" name="de" id="de" />
		</div>
		<div class="entry">
			<label for="nl">NL:</label>
			<input type="text" name="nl" id="nl" />
		</div>
		<div class="entry">
			<label for="fr">FR:</label>
			<input type="text" name="fr" id="fr" />
		</div>
		<div class="entry">
			<label for="remarks">Remarks:</label>
			<input type="text" name="remarks" id="remarks" />
		</div>
<!-- 		<div class="entry file">
			<input type="file" name="images" id="images" onchange="ajaxFileUpload();" />
		</div> -->
	</div>
<!-- 	<div id="result"></div><br><br> -->
	<div class="btn-set">
		<a href="javascript:void(0);" class="btn btn-add up">Add</a>
	</div>
</form>