 			<table>
				<tr><th>Type</th><th>Info</th></tr> 
				<foreach name="translation_detail" item="vo" key="k">
 					<php>if($k=='id'){</php>
 					<input type="hidden" value="<{$vo}>" name="transla-id"/>
					<php>}</php>
 					<php>if($k!='id'){</php>
		 				<tr><td><{$k|strtoupper}></td><td><input type="text"  value="<{$vo}>" /></td></tr> 
					<php>}</php>
				</foreach>
 			</table>
			<div>
			<form action="__URL__/translation_edit" method="post" id="testa" enctype="multipart/form-data"><input type="file" name="images" id="images" en-id="<{$en_id}>" /></form>
			<div id="result"></div><br><br>
			<div class="images_list">
				<ul>
				<foreach name="images_list" item="vo">
					<li><img src="__UPLOADS__/Translation/<{$vo.image_name}>" alt=""></li>
				</foreach>
			</ul>
			</div>
			</div>