<table cellpadding="0" cellspacing="0" class="tbl-translation-list table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>EN</th>
      <th>DE</th>
      <th>NL</th>
      <th>FR</th>
      <th>Remarks</th>
      <th>Operation</th>
    </tr>
  </thead>
  <tbody>
    <foreach name="translation_list" item="vo">
    <tr  data-id="<{$vo.id}>">
      <td><{$vo.id}></td>
      <td><{$vo.en}></td>
      <td><{$vo.de}></td>
      <td><{$vo.nl}></td>
      <td><{$vo.fr}></td>
      <td><{$vo.remarks}></td>
      <td>
        <a href="#" class="btn-edit">Edit</a>
        <a href="#" class="btn-delete">Delect</a>
      </td>
    </tr>
  </foreach>  
  </tbody>
</table>